@page "/historico"
@rendermode InteractiveServer


<PageTitle>DD8 - Login</PageTitle>

<MudText Typo="Typo.h2" GutterBottom="true">Seu Histórico com o Ask DD8 | 0 chats</MudText>
<div>
    
    <MudButton>
         Novo chat
    </MudButton>
</div>

@code {
   
}
